#nav-bar .header {
  float: left;
  font-size: 32px;
  height: 80px;
  line-height: 80px;
  margin-left: 10px;
  z-index: 1;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
  z-index: 1;
}

#nav-bar .composer {
  background-color: #e7fdff;
  border: 1px solid black;
  border-radius: 5px;
  color: #00a087;
  font-size: 18px;
  float: right;
  height: 60px;
  margin: 9px 0;
  width: 110px;
}

#nav-bar .composer:hover {
  background-color: white;
  color: black;
}

#nav-bar {
  color: #e8fdff;
  background-color: #00a087;
  height: 80px;
  left: 0;
  padding: 0 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
